<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="csrf-token">
    <meta name="author" content="">
    <title>{{title}} | Hackathon Starter</title>
		<!-- CSS -->
  </head>
  <body>
		<!--navbar -->
    <div class="container">
			<input type="text" name="some_name" value="asdf!" id="some_name">
			<!--flash -->
    </div>
		<!--footer -->
		<!--js -->
  </body>
</html>